$blueColor:#2A94E2;
@import '_globals.scss';


.header{
	background-image: url('../pics/Rectangle.png');
	background-size: cover;
	background-position: center;
	&__top{
		display: flex;
		justify-content: space-between;
		align-items:center;
	}
	&__bottom{
		padding-top:12px;
	}
	&__title{
		font-family: 'Geometria Heavy';
		font-size: 50px;
		line-height: 65px;
		width:50%;
	}
	&__description{
		padding: 47px 0;
		font-size: 22px;
		line-height: 36px;
		width:50%;	
		font-weight: 400;
	}
	&__info{
		display: flex;
	}
	&__item{
		display: flex;
		align-items:center;
		padding-right: 50px;
	}
	&__count{
		font-size: 80px;
		line-height: 131px;
		padding-right: 20px;
	}
	&__test{
		display: flex;
		align-items:center;
		padding: 25px 0 40px 0;
		span{
			font-weight: bold;
		}
	}
	&__btn{
		padding-left: 30px;
		padding-right: 30px; 
		margin-bottom: 70px;
		&:hover{
			background-color: #206BA3;
	}
	}

}
.menu{
	position: relative;
	&__burger-inner{
		padding-left:10px;
		display: flex;
		justify-content: center;
		cursor:pointer;
		width: 135px;
		height: 32px;
	}
	&__burger{
		display: block;
		height: 3px;
		width: 40px;
		background-color: $blueColor;
		border-radius: 2px;
		&:before{
			content: '';
			transition: 0.5s;
			position: relative;
			display: block;
			height: 3px;
			width: 30px;
			background-color: $blueColor;
			top:13px;
			border-radius: 2px;
		}
		&:after{
			content: '';
			position: relative;
			transition: 0.5s;
			display: block;
			height: 3px;
			width: 20px;
			background-color: $blueColor;
			top:23px;
			border-radius: 2px;
		}
		&-open{
			&:before{
				width: 40px;
			}
			&:after{
				width: 40px;
			}
		}
	}
	&__title{
		padding: 3px 20px;
	}
	&__container{
		background-color: rgb(238,243,250);
		position: absolute;
		top:63px;
		left: -200px;
		opacity: 0;
		transition: all 0.5s;
		border-left: 3px solid $blueColor;
		&.menu-open{
			opacity: 1;
			left:0;
		}
	}
	&__item{
		font-size: 25px;
		padding: 24px 15px;
		transition: .3s;
		&:hover{
			background-color: $blueColor;
		}
	}
}
.logo{
	padding: 30px 0;
	display: flex;
	cursor: pointer;
	&__text{
		padding: 30px;
	}
}
.contacts{
	&__tel{
		display: inline-block;
		font-size: 30px;
		transition: color .3s;
		&:hover{
			color:$blueColor;
		}
	}
	&__btn{
		width: 100%;
		display: block;
		outline: none;
		background-color: transparent;
		height: 55px;
		border-radius: 5px;
		border: 1px solid $blueColor;
		font-weight: bold;
		font-family: 'roboto';
		font-size: 16px;
		margin-top: 20px;
		cursor: pointer;
		transition: background-color .3s, color .3s;
		&:hover{
			background-color: $blueColor;
			color:#fff;
		}
		&-footer{
			background-color: #fff;
			color:#000;
			width: 100%;
			font-family: 'Geometria Bold';
			font-size: 20px;
			&:hover{
				background-color: $blueColor;
				color:#fff;
			}
		}
	}
	&__mail{
		display: block;
		margin: 30px auto 40px;
		font-size: 22px;
		line-height: 21px;
		border-bottom: 1px solid #fff;
		width: fit-content;
		transition: .3s;
		&:hover{
			color:$blueColor;
			border-bottom: 1px solid $blueColor;
		}
	}
}
.test{
	text-align: center;
	padding: 60px 0;
	&__inner{
		display: grid;
		text-align: left;
		margin-top: 45px;
		border: 3px solid #F6F6F6;
	}
	&__check{
		width: 366px;
		padding: 40px 30px;
		padding-bottom: 0px;
		grid-column: 2;
		grid-row: 1/3;
		border-left: 3px solid #F6F6F6;
		&-item{
			padding-bottom: 30px;
			display: flex;
			align-items:flex-start;
		}
		&-icon{
			padding-top:8px;
		}
		&-text{
			padding-left: 24px;
			width: 235px;
			font-size: 16px;
			line-height: 26px;
		}
	}
}
.slider{
	padding: 37px 37px 0px 37px;
	overflow: hidden;
	&__radio{
		position: absolute;
		visibility: hidden;
	}
	&__question{
		font-family: 'Geometria Extra Bold';
		font-size: 22px;
		line-height: 33px;
	}
	&__answers{
		display: flex;
		max-width: 700px;
		justify-content: space-between;
		padding: 30px 0;
		border-bottom: 2px solid #F6F6F6;
	}
	&__answer{
		cursor: pointer;
		width: 326px;
		&-checked{
			.slider__img{
				border: 4px solid $blueColor;
			}
			.slider__text{
			color:$blueColor;
			opacity: 1;
			}
		}
	}
	&__text{
		transition: .3s;
		text-align: center;
		padding-top: 25px;
		opacity: 0.5;
		font-family: 'Geometria Bold';
		font-size: 16px;
		line-height: 26px;
	}
	&__count{
		display: flex;
		justify-content: space-between;
		padding: 30px 37px;
	}
	&__btn{
		background-color: transparent;
		color: $blueColor;
		border: none;
		outline: none;
		cursor: pointer;
		&-next:after{
			content: url('../pics/arrow-right.svg');
			display: inline-block;
			padding-left: 15px;
			transform: translateY(4px);
		}	
		&-prev{
			display: none;
			&:before{
				content: url('../pics/arrow-left.svg');
				display: inline-block;
				padding-right: 15px;
				transform: translateY(4px);
			}	
		}
	}
	&__img{
		border-radius: 2px;
		border: 4px solid transparent;
		overflow: hidden;
		transition: .3s;
	}
}
.services{
	&__grid{
		display: grid;
		grid-template-columns: 370px 370px 370px;
		grid-template-rows: 300px 300px 300px;
	}
	&__item{
		background-position: center;
		background-size: cover;
		display: flex;
		align-items: flex-end;
		margin:10px;
		position: relative;
		color: #fff;
		overflow: hidden;
		&:after{
			content: '';
			background: linear-gradient(to top, rgba(0,0,0, .5), transparent);
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			height: 100%;
			display: block;
		}
		&:hover .services__inner{
			bottom: 0;
		}
	}
	&__inner{
		z-index: 1;
		position: relative;
		bottom: -190px;
		padding: 20px;
		transition: bottom.4s;
	}
	&__title{
		font-size: 22px;
		font-family: 'Geometria Bold';
		padding-bottom: 25px;
	}
	&__description{
		max-width: 300px;
		padding-bottom: 25px;
	}
	&__btn{
		width: 100%;
		text-align: center;
		font-size: 16px;
		line-height: 26px;
		font-family: 'Geometria regular';
		&:hover{
			background-color: #206BA3;
	}
	}

}
.services__item:nth-child(1){
	grid-row: 1/3;
	background-image: url('../pics/services 1.png');
}
.services__item:nth-child(2){
	background-image: url('../pics/services 2.png');
}
.services__item:nth-child(3){
	background-image: url('../pics/services 3.png');
}
.services__item:nth-child(4){
	grid-row: 2;
	grid-column: 2/4;
	background-image: url('../pics/services 4.png');
}
.services__item:nth-child(5){
	grid-row: 3;
	grid-column: 1/3;
	background-image: url('../pics/services 5.png');
}

.services__item:nth-child(6){
	grid-row: 3;
	grid-column: 3;
	background-image: url('../pics/services 6.png');
}
.catalog{
	padding: 50px 0 60px 0;
	img{
		display: block;
	}
	&__filter{
		padding-top: 45px;
		display: flex;
		width: 100%;
	}
	&__price{
		list-style: none;
		width: 20%;
	}
	&__btn{
		width: 100%;
		border-radius: 0;
		border: 2px solid #F6F6F6;
		font-family: 'geometria regular';
		background-color: #fff;
		font-size: 16px;
		line-height: 26px;
		transition: .3s;
		color:#000;
		outline: none;
		&:hover:not(.catalog__btn-active){
			background-color: #f6f6f6;
		}
		&-active{
			background-color: $blueColor;
			color:#fff;
		}
	}
	&__list{
		font-family:'geometria regular';
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		font-size: 16px;
		max-height: 606px;
		overflow: hidden;
		transition: all 2s;
	}
	&__item{
		transition: all .3s;
		max-width: 555px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 576px;
		margin-top: 30px;
		&:hover{
			box-shadow: 0 0 20px rgba(233, 80,79, .25); 
			.catalog__item-btn{
				background-color: $blueColor;
				color: #fff;
			}
		}
		&.deleted{
			display: none ;
		}
	}
	&__inner{
		border: 1px solid #F6F6F6;	
		border-top:none;
		max-width: 555px;
	}
	&__title{
		font-family: 'geometria bold';
		padding: 30px 30px 10px;
	}
	&__num{
		padding: 30px;
		padding: 0 30px 10px;
	}
	&__features{
		display: flex;
		justify-content: space-between;
		padding: 10px 30px 17px 30px;

	}
	&__item-full{
		font-size: 33px;
		padding-bottom: 25px;
	}
	&__area{
		padding-bottom: 35px;
	}
	&__item-btn{
		font-size: 18px;
		font-family: 'geometria bold';
		border-radius: 0px;
		background-color: #f6f6f6;
		color: #000;
		width: 100%;
	}
	&__bottom-btn{
		margin-top: 50px;
		font-family: 'geometria regular';
		&:hover{
			background-color: $blueColor;
			color: #fff;
		}
		&:after{
			content: '\203A';
			display: inline-block;
			margin-left: 15px;
			font-size: 25px;
			transform: rotate(90deg) translateX(4px);
		}
	}
}



.history{
	background-color: #F6F6F6;
	padding-bottom: 65px;
	.container{
		display: flex;
		justify-content: space-between;
	}
}
.history__photo{
	margin-top:65px;
}
.history__small{
	display: flex;
	justify-content: space-between;
}
.history__pic{
	cursor: pointer;
}
.history__title{
	text-align: left;
	padding: 100px 30px 30px 0;
}
.history__description{
	padding-right: 30px;
	& + & {
		padding-top: 26px;
	}
}
.history__btn{
	font-family: 'Geometria Bold';
	margin-top: 30px;
	padding:18px 60px;
	&:hover{
			background-color: #206BA3;
	}
}

.card{
	padding: 55px 0;
}
.card__inner{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.card__item{
	margin-top: 30px;
	padding:34px 50px 30px;
	max-width: 555px;
	line-height: 21px;
	border: 1px solid rgba($blueColor, .5);
	border-radius: 10px;
	position: relative;
	background-color: #fff;
	transition:all .3s;
	&:after{
		content: url('../pics/cards/lines.png');
		position: absolute;
		top:11px;
		left: 0;
	}
	&:hover{
		transform: scale(1.15) translateY(-50px);
		z-index: 4;
	}
	&:nth-child(odd){
		margin-right: 15px;
	}
}
.card__title{
	font-family: 'Geometria Extra Bold';
	font-size: 22px;
}
.card__item-inner{
	padding-top: 55px;
	display: flex;
	justify-content: space-between;
}
.card__position{
	opacity: .5;
	font-size: 12px;
}
.card__tel{
	display: inline-block;
	padding-top: 25px;
	font-size: 25px;
}
.card__mail{
	padding-top: 15px;
	display: inline-block;
	line-height: 21px;
	border-bottom: 1px solid #000;

}
.card__links{
	padding: 55px 0;
	display: flex;
	justify-content: center;
	a{
		text-decoration: underline;
		color:$blueColor;
		font-size: 22px;
		line-height: 56px;
		width: fit-content;
		padding: 0 23px;
	}
}

.info{
	background-color: #EEF3FA;
	.container{
		display: flex;
		justify-content: space-between;
		padding-top: 42px;
	}
}
.info__inner{
	.title{
		text-align: left;
	}
}
.info__name{
	font-family: 'Geometria Heavy';
	font-size: 22px;
	line-height: 33px;
	padding-bottom: 35px;
}
.info__description{
	padding-bottom: 20px;
	font-weight: 600;
}
.info__btn{
	padding: 18px 60px;
	font-family: 'Geometria Bold';
	font-size: 20px;
	line-height: 30px;
	&:hover{
			background-color: #206BA3;
	}
}
.footer{
	background-color: #535860;
}
.footer__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 0;
	color:#fff;
}
.footer__time, .footer__time-title, .footer__OGRN, .footer__INN{
	font-size: 13px;
	display: inline-block;
	max-width: 300px;
}
.footer__time{
	padding-top: 15px;
	display: block;
}
.footer__INN{
	float: right;
	padding-right: 25px;
}
.footer__adress{
	padding: 25px 0;
	max-width: 322px;
}


























@media(max-width: 1180px) {
	.container{
		width: 100%;
		padding:15px 15px;
	}
	.test__inner{
		display: block;
	}
	.test__check{
		display: flex;
		justify-content: space-between;
		width: 100%;
		flex-wrap: wrap;
		border-left: none;
		&-item{
			padding: 0px 5px 30px;
		}
	}
	.slider__answers{
   		max-width: none;
    	justify-content: center;
    	.slider__answer + .slider__answer{
    		margin-left: 30px;
    	}
	}
	.slider__count{
		border-bottom: 2px solid #F6F6F6;
	}
	.services__grid{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.services__item{
			width: 340px;
		}
	}
	.catalog__list{
		justify-content: center;
	}
	.catalog__item{
		width: 430px;
		&:nth-child(odd){
			margin-right: 30px;
		}
		img{
			width: 100%;
		}
	}
	.history .container{
		display: block;
		text-align: center;
	}
	.history__content{
		text-align: left;
		padding: 0 60px;
	}
	.history__small{
		justify-content: center;
	}
	.history__title{
		padding: 30px 30px 30px 0px;
	}
	.history__pic+.history__pic{
		padding-left: 10px;
	}
	.card__item{
		max-width: 484px;
		height: 240px;
		padding: auto 50px auto;
		.card__item-inner{
			padding-top: 15px;
		}
		img{
			display: none;
		}
	}
	.card__links a{
		line-height: 35px;
	}
	.logo__text{
		padding: 15px;
	}
}
@media (max-width: 1028px) {
	.card__inner{
		flex-direction: column;
		align-items: center;
		.card__item{
			margin-right: 0px;
		}
	}
	.info__photo{
		display: none;
	}
	.footer__logo .logo__text{
		display: none;
	}
}
@media(max-width: 970px) {
	.test__check{
		justify-content: center;
	}
}
@media (max-width: 935px) {
	.catalog__list  .catalog__item{
		width: 555px;
		margin-right: 0px;
	}
}
@media(max-width: 850px) {
	.logo{
		.logo__text{
			display: none;
		}
	}
	.menu{
		order: 2;
		padding: 0px 15px;
		.menu__burger-inner{
			width: 50px;
		}
		.menu__burger{
			&:after, &:before {
				float:right;
			}
		}
		.menu__container{
			border-left: none;
			border-right: 3px solid $blueColor;
			left: 200px;
			&.menu-open{
				opacity: 1;
				left: -125px;
			}
		}
		.menu__title{
			display: none;
		}
	}
	.contacts{
		padding: 0px 19px
	}
	.header__info{
		flex-wrap: wrap;
	}
	.slider__img{
		width: 315px;
		height: 215px;
		img{
			width: 100%;
			height: 100%;
		}
	}
	.slider__answers{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.slider__answer + 	.slider__answer{
			margin-left: 0;
		}
	}
	.slider__answer{
		width: fit-content;
	}
	.slider__text{
		padding: 10px 0;
	}
	.catalog__filter{
		flex-wrap: wrap;
		justify-content: center;
	}
	.catalog__price{
		width: 220px;
	}
	.history__photo{
		display: none;
	}
	.card__links{
		flex-wrap: wrap;
		a{
			max-width: 480px;
			padding-top: 20px;
			margin: auto;
		}
	}
	.footer__logo{
		display: none;
	}
}
@media (max-width: 590px) {
	.slider__count{
		padding:30px 0;
	}
	.services__item{
		.services__inner{
			bottom: 0;
		}
	}
	.history__content{
		padding: 0;
	}
}
@media (max-width: 680px) {
	.footer__inner{
		display: block;
		.contacts{
			padding-top: 15px;
		}
	}
}
@media(max-width: 575px){
	.header__top{
		flex-wrap: wrap;
	}
	.contacts{
		order:3;
		margin: 0px auto;
	}
	.contacts__tel{
		font-size: 25px;
	}
	.header__description{
		width: 100%;
	}
	.header__title{
		word-wrap:break-word;
		font-size: 32px;
		line-height: 41px;
		width: 100%;
	}
	.header__br{
		display: none;
	}
	.header__count{
		   font-size: 60px;
	}
	.test__inner{
		border:none;
	}
	.test__check{
		border-left: none;
	}
	.slider{
		padding-left: 0px;
		padding-right: 0px;
	}
	.slider__img{
		width: 260px;
		height: 160px;
	}
	.catalog__price{
		width: 100%;
	}
}
@media(max-width: 505px) {
	.slider__btn-prev{
		border-bottom: 1px solid $blueColor;
		padding-bottom: 8px;
	}
	.catalog__features{
		display: block;
	}
	.catalog__area,.catalog__item-full, .catalog__item-price{
		padding-bottom: 10px;
	}
	.catalog__item{
		width: 100%;
		img {
			height: 217px;
			object-fit: cover;
		}
	}
	.catalog__title, .catalog__title,.catalog__features{
		padding-left: 5px;
	}
	.card__item{

		&:hover{
			transform: none;
		}
	}	
}
@media (max-width: 415px) {
	.services__item{
		width:100%;
		margin: 0;
		margin-bottom: 10px;
	}
	.services .container{
		padding: 0;
	}
	.card__item{
		height: 260px;
		padding: 25px;
	}
	.footer__INN{
		float: left;
	}
}